body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background-color: #fafdff;*/
    background-color: rgb(252, 248, 238);

    background-color: white;
}



.pdf-canva {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 75%;
}

.pdf-container2 {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 50%;
    height: 75%;
}


#CanvaFormat {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
    height: 3%;
    /*color: #e6c153;*/
    color: black;
    font-size: 200%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

#HarvardFormat {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 30%;
    height: 3%;
    /*color: #e6c153;*/
    color: black;
    font-size: 200%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
   
}

