body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background-color: #fafdff;*/
  /*background-color: #E7F0F7; */
  background-color: #fcf8ee;
  
}







.cvFont {

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}


.bold-text {
  font-family: 'Oswald', sans-serif;


}

.clickable {
  cursor: pointer
}

.clickable:hover line {
  stroke: #fcf8ee;
  transition: stroke 3s;
}

.clickable:hover text {


  fill: #fcf8ee;

  transition: fill 3s;
}


.clickable:hover .text-box {
  font-family: Oswald, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 10px;
  color: black;
  opacity: 1;
  transition: opacity 3s;
}

.text-box {
  font-size: 10px;
  overflow-wrap: break-word;
  text-align: justify;


  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: normal;
  opacity: 0;
}


.oswald-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-weight: 350;
  font-style: normal;

}


.circle-hover:hover {

  /*fill: #d0e1ed;*/
  fill: #f1e3ba;

}

.circle-hover.hovered {
  fill: #f1e3ba;


}

.circle-hover {

  fill: #fcf8ee;


}

.black-circle {

  fill: #fcf8ee;

}


.black-circle:hover {

  fill: black;

}

#wholePageSvg.first-visit .circle-hover {
  fill: #C4BDAB; /* The "dim" color for MOST circles */
}