#mainDiv{
height: 100%;
width: 100%;

}


#headerDiv{
   

    background-color: none;
    width: 100%;
    height: 15%;

    
   
    display: flex;
    align-items: center;


}

#goBackButton {
    width: 15%;
    height: 80%;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-top: 0.5%;

}

#goBackText {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 150%;
    text-align: left;
    line-height: 1;
    align-items: center;
    padding-left: 1%;
   

}

#mainTitle {
    font-family: 'Oswald', sans-serif;
    color: black;
   font-weight: 350;
    font-size: 150%;
    text-align: left;
    
    line-height: 100%;
    flex-grow: 1;
    margin-left: 24%;

}
#contentDivTitle {
    font-family: 'Oswald', sans-serif;
    color: black;
   font-weight: 350;
    font-size: 130%;
    text-align: center;
    margin-top: 2%;
    margin-right:8%;

}
