p {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 120%;

  margin: 0;
}

button {

  cursor: pointer;
  background-color: transparent;
  width: 3em;
  height: 3em;
  border-width: .1em;
  display: flex;
  justify-content: center;
  /* Centers content horizontally */
  align-items: center;
  /* Centers content vertically */

}



#bananaWallpaper {

  z-index: -1;
  position: fixed;

}





#container {

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
  width: 100%;
  gap: 10px;

}


#homepageButtonDiv {

  flex-basis: 7em;

  margin-left: 1%;
  margin-top: 1%;

}





#titleDiv {

  height: 10%;
  width: 75%;
  display: flex;
  /* Use Flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */

}

#title {

  font-size: 180%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}



/*
The Titanic: Machine Learning from Disaster project
*/
#textDiv {


  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  flex-basis: 90%;
  margin: auto;




}


/*
Since this is my first project using Artificial Intelligence... 
*/
#textDiv1 {
  display: flex;
  /* Aligns child elements in a row */
  align-items: flex-start;
  /* Vertically centers items */
  gap: 10px;
  /* Optional: Adds spacing between the button and text */
  margin-left: 5%;
  margin-right: 9%;
  flex-basis: 95%;

}

/*
This competition presents two datasets containing... 
*/

#textDiv2 {

  display: flex;
  /* Aligns child elements in a row */
  align-items: flex-start;
  /* Vertically centers items */
  gap: 10px;
  /* Optional: Adds spacing between the button and text */
  margin-left: 5%;
  margin-right: 9%;
  flex-basis: 95%;



}




#expandButton {
  display: flex;
  /* Ensures the SVG inside stays correctly aligned */
  align-items: center;
  margin-top: .60%;
}

#transparentText {
  display: none;
  /* Hidden by default */
  color: transparent;
  /* Initially transparent */
  transition: color 2s ease-in-out;
  /* Smooth transition */
}

#transparentText.visible {
  color: black;
  /* Final state is black */
}


.rounded-highlight {
  background-color: gray;
  /* Modern blue color - change to your preference */
  color: white;
  /* White text */
  padding: 2px 8px;
  /* Adjust padding for visual balance */
  border-radius: 5px;
  /* Controls the roundness of corners */
  display: inline;
  /* Ensures it stays inline with text */
  font-weight: 400;
  /* Slightly bolder text */
  box-decoration-break: clone;
  /* Ensures rounded corners on line breaks */
  -webkit-box-decoration-break: clone;
  /* For Safari support */
  padding: 0.03em 0.5em;

}